{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    <section class="confirm content-site">
        <h2 class="title-reset">Order confirmation 🎉</h2>
        <p>you can find the details of your order on the space my account by clicking right <a href="{{ path('user_page') }}">here</a></p>
    </section>


{% endblock %}
