{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
   <section class="choice-address">
        <h1 class="title-reset">Payement réussi</h1>
   </section>

{% endblock %}
