{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
   <section class="choice-address content-site">
       <h1 class="title-section">Choose your delivery address</h1>
        <div class="all-address">
            <a href="{{ path('checkout_final') }}">Pay</a>
       </div>
   </section>

{% endblock %}
